# TigerGraph Savanna Credentials
TG_HOST=https://your-cluster.i.tgcloud.io
TG_GRAPHNAME=FraudGraph
TG_USERNAME=tigergraph
TG_PASSWORD=your_password_here
TG_SECRET=your_secret_here
TG_RESTPP_PORT=443
TG_GS_PORT=443